body {
  margin: 0;
  padding 0;
}

header {
  background-color: dodgerblue;
  margin: 0;
  padding: 0 0.5rem;
}

footer {
  background-color: dodgerblue;
  text-align: center;
  margin: 0;
  padding: 0 0.5rem;
}

label {
  font-weight:  bold;
}

table {
  margin: 2rem 0;
  padding: 0;
} 

article {
  height: 40rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}